@mixin margins{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 1rem 1.5rem 0 1.5rem;
}

@mixin block-btn{
  text-decoration: none;
  width: 100%;
  height: 2rem;
  border-radius: .7rem;
  background-color: $buttons-color;
  color: $light-color;
  display:flex;
  justify-content: center;
  align-items: center;
}

@mixin select-pet{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

@mixin select-pet-bg-color{
  height: 4rem;
  margin-top: .7rem;
  background-color: $buttons-color;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    margin: 0 1.5rem !important;
    line-height: 1.5rem;
    font-weight: 700;
  }
}

@mixin nav-bar-menu{
  width: 100%;
  height: 60px;
  background-color: $light-color;
  position: absolute;
  bottom: 0;
  ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
  }
}