@mixin first-mobile-margin{
  max-width: $first-mobile-distance;
  max-height: $first-mobile-distance;
}

@mixin block-btn{
  text-decoration: none;
  width: 100%;
  height: 2rem;
  border-radius: .7rem;
  background-color: $buttons-color;
  color: $light-color;
  display:flex;
  justify-content: center;
  align-items: center;
}