//App colors
$main-bg-color: #FEC7D7;
$light-color:#FFFFFE;
$border-animal-features: #A786DF;
$buttons-color: #0E172C;
$nav-hover-color-: #91C1D7;
$message-sent: #535353;

//First mobile margin
$first-mobile-distance: 16rem;