body{
  background-color: $main-bg-color;
  display: flex;
  justify-content: center;

  #container_landing{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
      padding-bottom: 4rem;
    }
    div, img{
      text-align: center;
      @include first-mobile-margin;
    }
    button{
      margin-top: 1rem;
    }
  }
}