.pet-header{
    position: relative;
    img{
        width: 100%;
        height: 27.6rem;
    }
    a{
        img{
            background-color: $buttons-color;
            @include get-back;
        }
    }
}
.pet-description-container{
    @include animal-description;
    .contact-btn{
        @include contact-user-btn;
    }
}