.select-pet-main-container{
  height: 100vh;
  position: relative;
  h2{
    font-size: 1.4rem;
  }
  h2, .select-a-pet span{
    margin: 3rem 1.5rem 2rem .7rem;
    font-weight: 700;
  }
  .menu{
    @include nav-bar-menu;
  }
}

.select-a-pet{
  article{
    @include select-pet;
    div{
      @include select-pet-bg-color;
      width: 90%;
      margin-left: .7rem;
    }
  }
}

.dogs-section{
  @include animals-section;
}

.cats-section{
  @include animals-section;
}

